@import url('<https://fonts.googleapis.com/css?family=Nunito>');

body {
  font-family: 'Nunito';
  background-color: black;
  
}

img { 
  padding-left: 40px;
  background-color: rgb(214, 15, 15);
}



